
    <h1>Demo Application</h1>
    <p>
      Welcome to the home page of Omar's demo app. This app was created by following the ROR tutorial which can be found by going 
      <a href="http://railstutorial.org/">here</a>. There's been some functionality added on top of the basic tutorial app so get a better feel of rails.
      <br><br>
      To begin, why don't you Sign Up for an account or if you have one already, sign into your account.
      <p>
      <%= link_to 'Sign up now!', signup_path, :class => "signup_button round" %></p>
    </p>
